<div class="container">
  <div id="contact" class="row  white center scrollspy" >
      <div class="row">
        <div class="col s12"><h4 class="header">Contact Us</h4></div>
        <div class="col s6"><i class="material-icons md-36 left">contact_phone</i>
        <br><br>
        <p class="left-align light">
            <i class="fa fa-map-marker fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="adress">General Patton street 33 1050 Brussel</span>
            <br>
            <i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;&nbsp;<span class='email'>info@reditsolution.com</span>
            <br>
            <i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;&nbsp;<span class='phone'>+32(0)489/635.823</span>
        </p>
        </div>
        <div class="col s6"><i class="material-icons md-36 left">email</i>
        <br>
        <div class="row">
   <form class="col s12">
     <%= form_for :contact, url: contacts_path do |f| %>
     <div class="row">
       <div class="input-field col s6">
         <%= f.text_field :first_name, required:true, id:"first_name", type:"text", class: "validate" %>
         <%= f.label :first_name, for:"first_name"  %>
       </div>
       <div class="input-field col s6">
         <%= f.text_field :last_name, required:true, id:"last_name", type:"text", class: "validate" %>
         <%= f.label :last_name, for:"last_name"  %>
       </div>
      </div>

     <div class="row">
       <div class="input-field col s12 left">
         <%= f.email_field :email, required:true, id: "email", type: "email", class:"validate" %>
         <%= f.label :your_email, for: "Email" %>
       </div>
           <div class="input-field col s12">
             <%= f.text_field :message, required:true, id: "textarea1", class:"materizalize-textarea"%>
             <%= f.label :type_your_message, for: "textarea1" %>
           </div>

     </div>
     <div class="send-button">
     <%= f.submit 'Send Message', class:"waves-effect waves-light btn"%>
     </div>
     <% end %>
   </form>
 </div>

  </div>
  </div>
</div>
